<% include ./layouts/header.ejs %>
      <br>
  <div class="container text-center">
    <br>
    <%if(msg!== null){%>
      <div class="alert alert-<%=type%>" role="alert">
          <%= typeof msg != 'undefined' ? msg : '' %>
      </div>
    <%}%>
    <br>
    <div class="text-center">
        <h1><%=result[0].name%></h1>
        <audio controls>
            <source src="<%=result[0].url%>" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <!-- <p><%=result[0].url%></p> -->
    </div>
    <br>
    <div class="song">
        <p class="al-lef">
            <%lyric.forEach(function(line) {%>
                <br>
                <%=line%>
            <%});%>
        </p>
    </div>
    <br><br><br>
  </div>
</body>
</html>